* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fix for "Blinking Cursor" artifact on non-input elements */
body {
  caret-color: transparent;
  /* Hide blinking cursor by default */
}

/* Restore cursor for actual inputs */
input,
textarea,
[contenteditable="true"] {
  caret-color: auto;
  user-select: text;
}